# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'

  - package-ecosystem: 'gitsubmodule'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'

  - package-ecosystem: 'docker'
    directories: ['/packages/runner/docker']
    schedule:
      interval: 'weekly'
      time: '02:00'
    # For some reason, cooldown is not working as expected with these many docker updates.
    # It times out and fails to create PRs. Uncomment if/when fixed.
    # cooldown:
    #   default-days: 14 # chill for 14 days so that they fix any sudden issues
    #   include: ['dependabot/*']
    groups:
      dependabot-core-images:
        patterns: ['dependabot/*']

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '02:00'
    open-pull-requests-limit: 20
    groups:
      azure: { patterns: ['@azure/*'] }
      better-auth: { patterns: ['better-auth', '@better-auth/*'] }
      dockerode: { patterns: ['@types/dockerode', 'dockerode'] }
      fumadocs: { patterns: ['fumadocs-*', '@fumadocs/*'] }
      hono: { patterns: ['@hono/*', 'hono'] }
      js-yaml: { patterns: ['@types/js-yaml', 'js-yaml'] }
      next-and-react:
        patterns:
          - '@next/*'
          - '@types/react'
          - '@types/react-dom'
          - 'next'
          - 'react'
          - 'react-dom'
          - 'react-router-dom'
      node-forge: { patterns: ['@types/node-forge', 'node-forge'] }
      opentelemetry: { patterns: ['@opentelemetry/*'] }
      pino: { patterns: ['pino', 'pino-*'] }
      prisma: { patterns: ['prisma', '@prisma/*'] }
      radix-ui: { patterns: ['@radix-ui*', 'radix-*'] }
      react-email: { patterns: ['@react-email/*', 'react-email'] }
      validator: { patterns: ['@types/validator', 'validator'] }
      vercel:
        patterns: ['@vercel/*', 'vercel']
        exclude-patterns: ['@vercel/ncc']
      tailwind:
        patterns:
          - 'tailwindcss'
          - 'tailwind-merge'
          - '@tailwindcss/*'
      tar-stream: { patterns: ['@types/tar-stream', 'tar-stream'] }
      vite-and-vitest: { patterns: ['vite', 'vite-*', '@vitejs/*', 'vitest'] }
    ignore:
      - dependency-name: recharts
        update-types: [version-update:semver-major] # shadcn still doesn't support (https://github.com/shadcn-ui/ui/issues/7669)
      - dependency-name: '@biomejs/biome'
        update-types: [version-update:semver-patch] # too much changes
      - dependency-name: 'vite*'
        update-types: [version-update:semver-patch] # too much changes
