# Workaround for Turbopack build warnings with pnpm
# Turbopack (Next.js) requires these OpenTelemetry instrumentation dependencies to be hoisted
# so they can be resolved from the project directory, otherwise Turbopack warns:
#   "Package import-in-the-middle can't be external"
#   "Package require-in-the-middle can't be external"
# See: https://github.com/vercel/next.js/discussions/76247#discussioncomment-12256230
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*

# Workaround for @react-email/render including prettier
# This is a temporary fix until @react-email/render removes the prettier dependency
# See: https://github.com/resend/react-email/issues/2426
# See: https://github.com/resend/react-email/pull/2581
public-hoist-pattern[]=prettier
