name: Remove Review Resources

on:
  pull_request:
    types: [closed]
    branches: [main]
    paths-ignore:
      - .devcontainer/**
      - .vscode/**
      - README.md
      - LICENSE
  workflow_dispatch:
    inputs:
      pr:
        description: 'Pull request number'
        required: true
        type: number

permissions:
  contents: read
  id-token: write # needed for azure/login@v2

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Remove:
    if: ${{ !contains(github.actor, '[bot]') && !contains(github.head_ref, 'dependabot/') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.x'

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Remove review resources
        run: |
          dotnet tool install --global azure-resources-cleaner && \
          azrc \
          --pr ${{ inputs.pr || github.event.pull_request.number }} \
          --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}
